---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class='text-2xl mx-auto'>
		Page Not Found <a href='/' class='font-bold underline text-blue-500'
			>Back Home</a
		>
	</h1>
</Layout>
