---

---

<section id='about'>
	<h1 class='mb-8 text-2xl font-semibold tracking-tighter'>My Portfolio</h1>
	<p class='mb-4 text-sm leading-normal text-accent-foreground'>
		Hello! I'm Ismail Elayade, a dedicated Full Stack Developer with over 3
		years of experience. Based in the vibrant tech scene of Morocco, I bring
		a passion for creating seamless, dynamic web applications.
		<br />
		<br />
		My expertise lies in JavaScript and TypeScript, with a strong command of
		ReactJS, NextJS, NodeJS, and NestJS. Additionally, I have a touch of Python
		in my skillset, adding versatility to my development projects.
		<br />
		<br />
		I thrive on innovation and am always eager to tackle new challenges, ensuring
		that my solutions are not only functional but also elegant and user-friendly.
		Whether I'm crafting intuitive front-end interfaces or robust back-end systems,
		my goal is to deliver exceptional results that make a difference.
		<br />
		<br />
		Explore my portfolio to see the projects I've brought to life. Let's connect
		and see how we can create something amazing together!
	</p>
</section>

<style></style>
