---

---

<section>
	<h1 class='mb-8 text-2xl font-semibold tracking-tighter'>My Portfolio</h1>
	<p class='mb-4 text-sm leading-normal text-accent-foreground'>
		Hello! I'm <span class='text-teal-600 dark:text-teal-300 font-semibold'>
			Ismail Elayade</span
		>, a dedicated
		<span class='text-teal-600 dark:text-teal-300 font-semibold'
			>Full Stack Developer with over 3 years of experience.</span
		>
		<br />
		<br />
		My expertise lies in
		<span class='text-teal-600 dark:text-teal-300 font-semibold'
			>JavaScript</span
		>
		and <span class='text-teal-600 dark:text-teal-300 font-semibold'
			>TypeScript</span
		>, with a strong command of <span
			class='text-teal-600 dark:text-teal-300 font-semibold'
			>ReactJS, NextJS, NodeJS, and NestJS.</span
		>
		Additionally, I have a touch of <span
			class='text-teal-600 dark:text-teal-300 font-semibold'>Python</span
		> in my skillset, adding versatility to my development projects.
		<br />
		<br />
		I thrive on innovation and am always eager to tackle new challenges, ensuring
		that my solutions are not only functional but also elegant and user-friendly.
		Whether I'm crafting intuitive front-end interfaces or robust back-end systems,
		my goal is to deliver exceptional results that make a difference.
		<br />
		<br />
		Explore my portfolio to see the projects I've brought to life. Let's connect
		and see how we can create something amazing together!
	</p>
</section>

<style></style>
