---
import ThemeIcon from './ThemeIcon.astro';
import Hamburger from './Hamburger.astro';
import { navItems } from '../constants';
---

<aside class='mb-8 tracking-tight'>
	<nav class='flex justify-between items-center'>
		<div class='flex-row space-x-3 hidden lg:block'>
			{
				Object.entries(navItems).map(([path, { name, options }]) => {
					return (
						<a
							href={path}
							{...options}
							class='transition-all hover:text-neutral-800 dark:hover:text-neutral-200'>
							{name}
						</a>
					);
				})
			}
		</div>
		<Hamburger />
		<div>
			<ThemeIcon />
		</div>
	</nav>
</aside>
